.scrollable-container{
    overflow: auto;
    height: 100%;
}

.schedule-container{
    height: 1100px;
    position: relative;
}

.schedule-time-labels{
    width: 40px;
    float: left;
    position: relative;
    height: 100%;
}
.schedule-main-area{
    height: 100%;
    z-index: 1;
    overflow: hidden;
    position: relative;
}
.time-label{
    position: absolute;
    right: 5px;
    color: #777;
    z-index: 1;
}
.hour-slot{
    box-sizing: border-box;
    border-top: solid 1px #ddd;
    position: absolute;
    width: 100%;
}
.hour-slot:first-child{
    border-bottom: 0;
}

.schedule-day-slot{
    position: relative;
    height: 100%;
    z-index:2;
    box-sizing: border-box;
    border-right: solid 1px #ddd;
    float:left;
}
.schedule-day-slot:last-of-type{
    border-right: 0;
}

.schedule-event{
    position: absolute;
    box-sizing: border-box;
    border-left: solid 4px #616161;
    background-color: #535353;
    border-radius: 2px;
    padding: 5px;
    overflow: hidden;
    line-height: 1;
}

.schedule-header-container {
    height: 40px;
    border-bottom: solid 3px #ddd;
    border-top: solid 3px #ddd;
    box-sizing: border-box;
}
.schedule-header-section {
    float: left;
    text-align: center;
    padding: 5px;
}