#list-filter-box {
    margin: 15px 15px;
    width: calc(100% - 30px);
}
.ListsPanel{
    margin: 0 -15px;
    height: 100%;
    /*background-color: #3C3C3C;*/
}
.ListsPanel .panel-controls {
    padding-top: 5px;
    border-bottom: 3px solid #cfcfcf;
}
.ListsPanel ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.UserSchedule{
    border-bottom: 1px solid;
}

.UserSchedule .schedule-tab{
    cursor: default;
}
.UserSchedule .schedule-section-tab{
    cursor: pointer;
}
.UserSchedule .list-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 15px;
    width: auto;
}
.UserSchedule .in-place-input{
    position:absolute;
    width: 105%;
    font-weight: normal;
    height: 15px;
    padding: 12px 4px;
    top: -5px;
}
.UserSchedule .list-name > * {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.UserSchedule .tools{
    float: right;
    padding: 20px;
    font-size: .9em;
    color: #999;
}

.UserSchedule .tools > *:hover{
    color: #777;
}
.UserSchedule .schedule-group-tab .list-name {
    padding: 8px;
}

.UserSchedule .schedule-section-tab .list-name {
    padding: 3px;
}
.UserSchedule .schedule-group-tab .tools{
    padding: 7px 15px;
}

.UserSchedule .schedule-section-tab .tools{
    padding: 1px 15px;
    font-size: .75em;
    display:none;
}
.UserSchedule .schedule-section-tab:hover  .tools{
    display:block;
    margin-top: -2px;
}

.UserSchedule .schedule-tab:hover{
    background-color: #e5e5e5;

}

.UserSchedule .schedule-tab.selected{
    background-color: #ddd;
    border-left: solid 4px #00b06c;

}

.UserSchedule .schedule-entry-tab.open{
    border-bottom: 1px solid #ddd;
}
.UserSchedule .schedule-group-tab{
    line-height:1;
}
.UserSchedule .schedule-section-tab{
    padding-top: 5px;
    padding-bottom: 5px;
}
.UserSchedule .panel-icon{
    margin-right: 15px;
}
.UserSchedule svg{
    height: 1.5em;
    width: 1.5em;
    margin-top: 5px;
}
.UserSchedule .schedule-children{
    box-shadow: inset 0 20px 10px -20px rgba(0, 0, 0, 0.17);
}
.me-friends-filter a{
    margin: 10px 8px 8px;
    display: inline-block;
    padding: 5px;
    color: #999;
}
.me-friends-filter a:hover, .me-friends-filter a.selected{
    color: #555;
    text-decoration: none;
    cursor: pointer;
}
.new-folder-schedule-buttons button:hover{
    color: #777;
}