.Radiator {width: 100%}

.Radiator-trail {
    stroke: #ddd;
}
.Radiator-path{
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
}
.Radiator.no-animation .Radiator-path{
    transition: none;
}

.Radiator-text{
    fill: #555;
    dominant-baseline: central;
    text-anchor: middle;
    font-size: 30px;
    font-weight: 200;
}