.hud-bar > div {
    text-align: center;
}

.floating-button{
    position: absolute;
    top: -15px;
    right: 25px;
}

.DetailsPanel blockquote {
    font-size: 13px;
}

.DetailsPanel .dropdown-toggle{
    border-left: solid 1px #009e61;
}

.DetailsPanel .dropdown-menu{
    left: initial;
    right: 0;
}