.About p {
    font-size: 15pt;
}

.splash {
    height: 300px;
    padding: 30px;
    background: url("./canoe.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.splash > * {
    z-index: 2;
    color: white;
    position: relative;
}

.splash:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.3);
    z-index: 1;
}

.splash h1{
    margin-top: 80px;
    position: relative;
    font-size: 4em;
}

.splash button{
    font-weight: 800;
    z-index: 3;
    margin-top: 30px;
}