.OpenTabs .nav-tabs li a .close-tab{
    width: .75em;
    height: .75em;
    margin-top: -1px;
    margin-right: -4px;
    position: relative;
    fill: #777;
    left: 5px;
    visibility: hidden;
}
.OpenTabs .nav-tabs li a:hover .close-tab{
    visibility: visible;
}
.OpenTabs .nav-tabs li a .close-tab:hover{
    fill: rgb(231, 76, 60);
}

.OpenTabs .nav-tabs li:first-child a {
    margin-left: 15px;
}

.OpenTabs .tab-content{
}