.AddMoveModal .back-button{
    margin-right: 5px;
    margin-top: -3px;
    font-size: 1.4em;
    vertical-align: middle;
}
.AddMoveModal .back-button:hover{
    cursor: pointer;
    color: #111;
}
.AddMoveModal .list-modal-lists{
    max-height: 300px;
    overflow: auto;
}

.AddMoveModal .list-modal-item{
    border-top: solid 1px #ddd;
    padding: 15px;
}

.AddMoveModal .list-modal-item:first-of-type{
    border-top: 0;
}

.AddMoveModal .list-modal-item:hover:not(.disabled){
    background-color: #f3f3f3;
}

.AddMoveModal .list-modal-item.selected:not(.disabled){
    background-color: #dff1f7;
}

.AddMoveModal .list-modal-item.disabled{
    color: #999;
}

.AddMoveModal .list-modal-item .enter-entry-button{
    font-size: 1.4em;
    font-weight: 700;
}
.AddMoveModal .list-modal-item .enter-entry-button:hover{
    color: #111;
    cursor: pointer;
}