.Header .navbar{
    border-radius: 0;
    margin-bottom:0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    z-index:3;
}

.Header .navbar .btn.btn-sm{
    margin-top: -8px;
    margin-bottom: -8px;
}
.Header .navbar-brand {
    padding: 15px;
}
.Header .navbar-brand > img{
    display:inline-block;
}

@media (min-width: 768px) {
    .Header .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.Header-logo {
    max-height: 30px;
    vertical-align: middle;
    margin-right: 8px;
}
.Header-logo-text {
    vertical-align: middle;
    font-weight: 400;
}
.navbar-nav > li > a:hover:after, .navbar-nav > li.active > a:after,
.navbar-nav > li.open > a:after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 3px #00b06c;
}

#watchlistDropdownPopover{
    width: 300px;
    max-width: 100%;
    max-height: 400px;
}

#watchlistDropdownPopover ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#watchlistDropdownPopover ul li{
    padding: 10px;
    margin: 0 -15px;
    /*border-bottom: solid 1px #ddd;*/
}
#watchlistDropdownPopover ul li:hover{
    border-left: solid 4px #00b06c;
    background-color: #eee;
    cursor: pointer;
}

.stop-watching-btn{
    margin: 0 0 3px 5px;
    color: #888;
    font-size: .9em;
}

.stop-watching-btn:hover{
    color: rgb(231, 76, 60);
}