.home-splash{
    height:600px;
    background-size:cover;
    background: url("./homeBackground.jpg") center center;
}

.welcome{
    float:left;
    color:white;
    width: 50%;
    margin-right:10%;
    margin-top:130px;
    position:relative;
}
.welcome:before{
    content: "";
    display:block;
    position:absolute;
    top:-30px;
    left:0;
    width:30%;
    height:2px;
    background: #0bb166;
}
.welcome p{ font-size:16px; font-weight:300; letter-spacing:1.2; max-width:500px;}
.welcome .features{margin-top:70px;}
.welcome .feature{ float:left; box-sizing:border-box; width: 26%; margin: 0 1%; text-align:center;}
.welcome .feature img{max-width:100%; padding:5px 20px; box-sizing:border-box; opacity:.5;}

.signup-container{
    width: 40%;
    padding: 30px 0;
}
.signup-container form {
    background-color: rgba(0,0,0,.4);
    border-color: #333;
    color: #aaa;
    border-radius: 5px;
}

.feature-description{
    margin-top: 50px;

}
.feature-description p {
    line-height: 1.8;
}

.feature-img{
    max-width: 100%;
    box-shadow: 6px 7px 14px rgba(0,0,0,.2);
}