.SearchPanel{
    padding: 15px;
}

.SearchPanel h4{
    border-bottom: solid 1px #ccc;
    padding: 10px 0;
}

.SearchPanel .btn-group{
    width: 100%;
}
.SearchPanel .btn-group .btn{
    width: 14.2857%
}

.SearchPanel .time-inputs{
    margin-top: 20px;
}

.SearchPanel .time-inputs .input-group{
    width: 100px;
}