/*noinspection CssUnknownTarget*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
a {
    cursor: pointer;
}

h4{
    color: #00b06c;
    font-weight: 600;
}

h5{
    font-weight: 600;
}

.shade-1{
    background-color: #efefef;
}
.shade-2{
    background-color: #eee;
}
.shade-3{
    background-color: #dfdfdf;
}
.shade-4{
    background-color: #ddd;
}

.border-right{
    border-right: solid 1px #ddd;
}

.faded-text{
    color: #888;
}

.center {
    max-width: 1000px;
    margin: 0 auto;
}

.default-border-color{
    border-color: #ddd;
}

html, body {
    height: 100%;
    overflow: auto;
    min-width: 1060px;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
button {
    border: 0;
    background-color: transparent;
    outline: 0;
}

@media (min-width:767px) {
    .App, #root, .full-height{ height: 100%; overflow: hidden; }
    .full-height-auto {height: 100%; overflow: auto;}
    #main-content{
        height: calc(100% - 60px);
    }
}


.base-bg-color{
    background-color: white;
}

dl dd{
    margin-bottom: 10px;
}

.tab-row {
    overflow-x: auto;
    overflow-y: hidden;
    border: 0;
    padding-bottom: 15px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: 0;
}

.tab-row .nav-tabs {
    white-space: nowrap;
}

.tab-row .nav-tabs > li {
    float: none;
    display: inline-block;
}

.nav.nav-tabs > li > a {
    background-color: transparent;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-right: 4px;
    font-size: 0.9em;
    padding: 5px 15px 5px 15px;
    color: inherit;
}

.nav-tabs > li.active a, .nav-tabs > li.active a:hover, .nav-tabs > li.active a:focus {
    background-color: #f3f3f3;
    color: inherit;

}

.nav-tabs > li a:hover, .nav-tabs > li a:active, .nav-tabs > li a:focus {
    background-color: transparent;
    border-color: #ddd;
}

.tab-content {
    background-color: #f3f3f3;
    border-top: solid 1px #ddd;
}

.panel-title > a:hover{
    text-decoration: none;
    cursor: pointer;
}

small {
    color: #999;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

a:focus {
    outline: 0;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.center-text {
    text-align: center;
}
.inline-block{
    display: inline-block;
}

.margin-sides{
    margin-left: 15px;
    margin-right: 15px;
}

.light-text{
    font-weight: 200;
    font-size: 1.8em;
}

.relative{
    position: relative;
}

.space-above {
    margin-top: 20px;
}

.big-space-above{
    margin-top: 50px;
}

.Select.is-focused > .Select-control, .Select.is-open > .Select-control{
    border-color: #00b06c;
    box-shadow: none;
}
.Select .Select-control {
    border: 2px solid #dce4ec;
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-shadow: none;
}

.Select-input{
    height:41px;
}
.Select-input > input {
    padding-top:12px;
}
.Select-placeholder, .Select--single > .Select-control .Select-value{
    line-height:43px;
}

.Select-menu-outer{
    margin-top: 0;
}

.Select--multi .Select-value-label{
    padding: 6px 5px;
}
