.auth-form {
    text-align: center;
    max-width: 400px;
    padding: 20px;
    border: solid 1px #ddd;
    margin: 50px auto;
}

.auth-form h2{
    margin-bottom: 20px;
}

.auth-form input[type="text"], .auth-form input[type="password"]{
    margin-bottom: 20px;
}

.auth-form .floated-links{
    margin-bottom: 30px;
    margin-top: -15px;
}

.auth-form .btn{
    width: 100%;
    margin-bottom: 8px;
}

.auth-form a{
    cursor: pointer;
}

